body{
    font-family: open sans, sans-serif;
    color:#404e67 !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 8%;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #404e67;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
    box-shadow: 0 0 11px rgba(0,0,0,.50);
}
#sidebar:hover{
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
  }

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}



.dropdown{
    cursor: pointer;
}
.dropdown-menu{
    box-shadow: 0 0 11px rgba(0,0,0,.13);
    border: none !important;
}
.dropdown-menu::after{
    content: '';
    right: 30px;
    top: -10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 10px solid rgb(252, 250, 250);
    /* border-right-color: transparent; */
    border-bottom-color: transparent;
    -webkit-box-shadow: -10px -9px 23px 1px rgba(0,0,0,.1);
    box-shadow: -10px -9px 23px 1px rgba(0,0,0,.1);
}
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    color: #fff !important;
    transition: 1s ease;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/* end of sidebar */

/* navbar */
.wrapper .bg-light{
    background-color: white !important;
    width: 102% !important;
    box-shadow: 0 0 11px rgba(0,0,0,.13);
    z-index: 2  ;
    margin-left: -1%;
}
.wrapper .collapse img{
    height:50px;
    width:100px; 
}
.upper_Layer{
    width: 250px;
    height:63px;
    top:0;
    left:0;
    position: fixed;
    z-index: 3;
    background: #404e67;
}
.material-icons{
    cursor: pointer;
}
.navbar-toggler{
    border: none !important;
}
.toggler_img{
     height: 50px;
     width: 100px;
 }
 @media (max-width: 768px) {
    .wrapper .bg-light{
        background-color: #404e67 !important;
        color: white !important;
    }
 }
/* end of navbar */

/* Sidebar Profile */
.Sidebar_card img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.Sidebar_card{
    width: 250px !important;
    border: none !important;
    background-color: #404e67 !important; 
}
.side_card .card-body{
    color:#dcdcdc;
}
.card-body button{
    margin: 0 auto;
}
#sidebar ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #dcdcdc;
}
#sidebar ul li a:hover{
    color: white;
}

/* Sidebar Profile */
/* Content */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 1;
    right: 0;
}

#content.active {
    width: 100%;
}
@media (max-width: 768px) {
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    
}   
    /* End of content */

    /* create_virtual_recruitment Form */
.form_content{
    background: white;
    border-radius: 1%;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);

}
.form_content form label, .form_content form input{
    color: #141a27;
    font-size: .9rem;
}

/* Job _ listing */
.card{
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}
.btn_color_1{
    background: linear-gradient(to right, #fe9466, #feb697);
    color: #fff;
}
.btn_color_2{
    background: linear-gradient(to right, #01abae, #01dade);
    color: #fff;
}
/* End of Job_listing */
/* tab */
.tab li a{
    font-size: 1.2em;
    text-decoration: none;
    color: #404e67;
}
.tab li a.active{
    border-bottom: 4px solid #007bff;
}
.tab li a.active{
    color: #007bff;
}
/* feather icon  */
.feather{
    width: 16px;
    height: 18px;
    margin-bottom: 1%;
}
/* badge */
.badge{
    font-weight: 700;
    color: #fff;
    line-height: 1.2 !important;
    border-radius: 50% !important;
    width: 20px;
    height: 20px;
    margin: none;
    position: relative;
    right: 8px;
    top: 3px;
}
.bg-c-pink {
    background: linear-gradient(to right,#fe5d70,#fe909d);
}
.bg-c-green {
    background: linear-gradient(to right,#0ac282,#0df3a3);
}